---
layout: page
title: Archive
---

<ul>
{% for post in site.posts %}
  <li {% if post.date > site.time %}class="future" {% endif %}data-pubdate="{{post.date|date: "%F"}}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%F" }})</li>
{% endfor %}
</ul>
<script>
document.querySelectorAll("li.future").forEach(
	post => {post.dataset.pubdate <= new Date().toISOString()
		&& (post.style.display = "list-item");}
);
var lastTenKeys = [null, null, null, null, null, null, null, null, null, null];
var konamiCode = ["ArrowUp", "ArrowUp", "ArrowDown", "ArrowDown", "ArrowLeft", "ArrowRight", "ArrowLeft", "ArrowRight", "b", "a"];
addEventListener("keydown", e => {
	lastTenKeys.shift();
	lastTenKeys.push(e.key);
	if (JSON.stringify(lastTenKeys) == JSON.stringify(konamiCode)) {
		document.querySelectorAll("li.future").forEach(
			post => {post.style.display = "list-item";}
		);
	}
});
</script>
