---
layout: default
---
<div id="{{site.fun}}" class="fake-target"></div>
<div class="posts">
  {% for post in site.posts %}
  	{% if post.date <= site.time %}
  		{% capture x %}{% increment numPublishedPosts %}{% endcapture %}
  	{% endif %}
  	{% if numPublishedPosts > 10 %}{% break %}{% endif %}
  	{% include article-preview.html %}
  {% endfor %}
</div>
{% if numPublishedPosts > 10 %}
<a href="{{ site.baseurl }}{% link archive.html %}" id="archive-link">Find older posts in the archive</a>
{% endif %}
