---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  	{% if post.date <= site.time %}
  		{% capture x %}{% increment numPublishedPosts %}{% endcapture %}
  	{% endif %}
  	{% if numPublishedPosts > 10 %}{% break %}{% endif %}
    <article class="{% if post.date > site.time %}future {% endif %}post" data-pubdate="{{post.date|date: "%F"}}">
      
      <div class="date">
        {{ post.date | date: "%A" }}
        {% assign d = post.date | date: "%-d" %}
        {% case d %}
          {% when "1" or "21" or "31" %}{{ d }}<sup>st</sup>
          {% when "2" or "22" %}{{ d }}<sup>nd</sup>
          {% when "3" or "23" %}{{ d }}<sup>rd</sup>
          {% else %}{{ d }}<sup>th</sup>
        {% endcase %}
        {{ post.date | date: "%B %Y" }}
      </div>
      
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}#more" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
<script>
document.querySelectorAll("article.future.post").forEach(
	post => {post.dataset.pubdate <= new Date().toISOString()
		&& (post.style.display = "inherit");}
);
</script>
{% if numPublishedPosts > 10 %}
<div id="archive-link">
	<a href="{{ site.baseurl }}{% link archive.html %}">Find older posts in the archive</a>
</div>
{% endif %}
