---
layout: default
---
<div id="uuddlrlrba"></div>
<div class="posts">
  {% for post in site.posts %}
  	{% if post.date <= site.time %}
  		{% capture x %}{% increment numPublishedPosts %}{% endcapture %}
  	{% endif %}
  	{% if numPublishedPosts > 10 %}{% break %}{% endif %}
  	{% include article-preview.html %}
  {% endfor %}
</div>
{% include future.js %}
{% if numPublishedPosts > 10 %}
<div id="archive-link">
	<a href="{{ site.baseurl }}{% link archive.html %}">Find older posts in the archive</a>
</div>
{% endif %}
