---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  background: $ldjbBlue;
  font: 18px/1.4 $georgia;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  overflow-wrap: break-word;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $georgia;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.5;
  margin: 0 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1, h2 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: #090;
  cursor: pointer;
  &:hover, &:active {
    color: #060;
  }
}

ul, ol {
  margin: 15px 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

li {
	margin: 1em;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

article img {
  display: block;
  margin: auto;
}

div.entry img {
	max-height: 16em;
}

article.post div.entry div#more:target + ::before {
  content: "☞ ";
}

sup {
  font-size: smaller;
  line-height: normal;
  vertical-align: super;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background: linear-gradient($ldjbDarkerBlue, $ldjbBlue, $ldjbBlue, $ldjbBlue, $ldjbDarkerBlue);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $georgia;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $georgia;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $ldjbDarkerBlue;
  margin-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $ldjbDarkerBlue;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: smaller;
}

footer p {
  margin: 0 0 1em;
}

footer p:last-child {
  margin: 0;
}

.future {
  display: none;
}

a#skip-nav {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	overflow: hidden;
}

a#skip-nav:focus {
	background: #ff0;
	border: 0.25em dashed #f00;
	height: inherit;
	padding: 1em;
}

a.anchor-link {
  display: none;
}

h3:hover a.anchor-link,
h4:hover a.anchor-link,
h5:hover a.anchor-link,
h6:hover a.anchor-link {
  display: inline;
}

/*** / ***/
a#archive-link {
	background-color: $ldjbDarkerBlue;
	padding: 1em;
	text-align: center;
	display: block;
}

div#{{site.fun}}:target ~ div.posts article.future {
	display: inherit;
}

/*** /tag ***/
div.fake-target {
	position: absolute;
	top: 0;
}

div.fake-target:target~#tag-default {
	display: none;
}

/*** /archive ***/
div#{{site.fun}}:target ~ ul li.future {
	display: list-item;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
