---
layout: page
index: false
---
{% for tag in site.tags %}
{% assign thisTag = tag | first %}
<style>
.tag-{{thisTag|slugify}} {
	display: none;
}
div#{{thisTag|slugify}}:target ~ p.tag-{{thisTag|slugify}}, div#{{thisTag|slugify}}:target ~ div.posts article.tag-{{thisTag|slugify}}:not(.future) {
	display: inherit;
}

div#{{thisTag|slugify}}:target ~ div.posts article div.date a[href="tag#{{thisTag|slugify}}"] {
	color: inherit;
	font-weight: bold;
	text-decoration: inherit;
}
</style>
<div id="{{thisTag|slugify}}" class="fake-target"></div>
<p style="font-style: italic;" class="tag-{{thisTag|slugify}}">Posts tagged <b>{{thisTag}}</b>:</p>
{% endfor %}
<div class="posts">
{% for post in site.posts %}
	{% include article-preview.html %}
{% endfor %}
</div>
<div id="tag-default">
<h2>Tag not found</h2>
<p>A tag was not specified or it was not found. Try going <a href="/{{site.baseurl}}">back to the homepage</a>.</p>
</div>
