---
layout: page
---
{% assign sortedTags = site.tags | sort %}
{% for tag in sortedTags %}
{% assign thisTag = tag | first %}
<div id="{{thisTag|uri_escape}}" class="fake-target"></div>
<div class="tag-posts">
<h2>Posts tagged with {{thisTag}}</h2>
<ul>
{% assign thisTagsPosts = site.posts | where_exp: "post", "post.tags contains thisTag" %}
{% for post in thisTagsPosts %}
<li {% if post.date > site.time %}class="future" {% endif %}data-pubdate="{{post.date|date: "%F"}}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%F" }})</li>
{% endfor %}
</ul>
</div>
{% endfor %}
<div id="tag-default">
<h2>Tag not found</h2>
<p>A tag was not specified or it was not found. Try going <a href="/{{site.baseurl}}">back to the homepage</a>.</p>
</div>
<script>
{% include future.js %}
</script>
