---
layout: page
---
<div id="{{site.fun}}"></div>
{% for tag in site.tags %}
{% assign thisTag = tag | first %}
<div id="{{thisTag|uri_escape}}" class="fake-target"></div>
<div class="tag-posts">
<p style="font-style: italic;">Posts tagged <b>{{thisTag}}</b>:</p>
<div class="posts">
{% assign thisTagsPosts = site.posts | where_exp: "post", "post.tags contains thisTag" %}
{% for post in thisTagsPosts %}
	{% include article-preview.html %}
{% endfor %}
</div>
</div>
{% endfor %}
<div id="tag-default">
<h2>Tag not found</h2>
<p>A tag was not specified or it was not found. Try going <a href="/{{site.baseurl}}">back to the homepage</a>.</p>
</div>
{% include future.js %}
