---
layout: page
---
{% assign sortedTags = site.tags | sort %}
{% for tag in sortedTags %}
{% assign thisTag = tag | first %}
<div class="tag-posts" id="{{thisTag|uri_escape}}">
<h2>Posts tagged with {{thisTag}}</h2>
<ul>
{% assign thisTagsPosts = site.posts | where_exp: "post", "post.tags contains thisTag" %}
{% for post in thisTagsPosts %}
<li {% if post.date > site.time %}class="future" {% endif %}data-pubdate="{{post.date|date: "%F"}}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%F" }})</li>
{% endfor %}
</ul>
</div>
{% endfor %}
<script>
document.querySelectorAll("li.future").forEach(
	post => {post.dataset.pubdate <= new Date().toISOString()
		&& (post.style.display = "list-item");}
);
var lastTenKeys = [null, null, null, null, null, null, null, null, null, null];
var konamiCode = ["ArrowUp", "ArrowUp", "ArrowDown", "ArrowDown", "ArrowLeft", "ArrowRight", "ArrowLeft", "ArrowRight", "b", "a"];
addEventListener("keydown", e => {
	lastTenKeys.shift();
	lastTenKeys.push(e.key);
	if (JSON.stringify(lastTenKeys) == JSON.stringify(konamiCode)) {
		document.querySelectorAll("li.future").forEach(
			post => {post.style.display = "list-item";}
		);
	}
});
</script>
