<article class="{% if post.date > site.time %}future {% endif %}post{% for tag in post.tags %} tag-{{tag|slugify}}{% endfor %}" data-pubdate="{{post.date|date: "%F"}}">
  
  <div class="date">
	{{ post.date | date: "%A" }}
	{% assign d = post.date | date: "%-d" %}
	{% case d %}
	  {% when "1" or "21" or "31" %}{{ d }}<sup>st</sup>
	  {% when "2" or "22" %}{{ d }}<sup>nd</sup>
	  {% when "3" or "23" %}{{ d }}<sup>rd</sup>
	  {% else %}{{ d }}<sup>th</sup>
	{% endcase %}
	{{ post.date | date: "%B %Y" }}
	{% assign numTags = post.tags | size %}
	{% if numTags > 0 %}
	in
	{% for i in (1..numTags) %}{% assign index = i | minus: 1 %}{% if i > 1 %}, {% endif %}<a href="{{site.baseurl}}tag#{{post.tags[index]|slugify}}">{{post.tags[index]}}</a>{% endfor %}
	{% endif %}
  </div>
  
  <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

  <div class="entry">
	{{ post.excerpt }}
  </div>

  <a href="{{ site.baseurl }}{{ post.url }}#more" class="read-more">Read More</a>
</article>
