<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="preload" href="{{ site.baseurl }}/style.css?{{site.time | date: '%s'}}" as="style" type="text/css">
    
    <title>{% if page.title %}{{ page.title | strip_html }} – {% endif %}{{ site.name }}: {{ site.description }}</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="theme-color" content="#ddf">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}">
    <meta property="og:description" content="{{ page.excerpt| strip_html }}">
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    <meta name="author" content="{{ site.name }}">
    <meta property="og:site_name" content="{{ site.name }}">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta property="og:title" content="{{ site.name }}">
    <meta name="twitter:title" content="{{ site.name }}">
    {% endif %}

	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/images/square.png">
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/square.png">
	<meta property="og:url" content="{{ site.url }}{{page.baseurl}}{{page.url}}">
	<meta property="og:type" content="website">

	<link rel="icon" href="{{ site.baseurl }}/images/square.svg" sizes="any" type="image/svg+xml">
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/images/square.png">
	<link rel="canonical" href="{{site.url}}{{page.baseurl}}{{page.url}}">
	
	<meta name="flattr:id" content="v16rjn">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?{{site.time | date: '%s'}}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
    {% if page.url contains "." or page.index == false %}
    <meta name="robots" content="noindex, follow">
    {% endif %}
  </head>

  <body>
  	<a href="#main" id="skip-nav">Skip to content</a>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt=""></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/archive">Archive</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/ja">日本語</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
    		<p><a href="#" id="back-to-top">↑ BACK TO TOP ↑</a></p>
        	<p><a href="/feed.xml">atom feed</a> • <a href="https://gitlab.com/ldjb/blog">site source</a> • <a href="https://gitlab.com/ldjb/blog/blob/master/{{page.path}}">page source</a> • <a href="https://app.netlify.com/sites/ldjb-blog/deploys">deploys</a></p>
        	<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License."><img alt="Creative Commons Licence" src="/{{site.baseurl}}images/cc-by-nc-sa.png"></a>
        </footer>
      </div>
    </div>
    <script src="/lib/script.js?{{site.time | date: '%s'}}"></script>
  </body>
</html>
