---
layout: default
---

<article class="post">
  <div class="date">
    <time class="date" datetime="{{ post.date | date: '%F' }}">
    {{ page.date | date: "%A" }}
    {% assign d = page.date | date: "%-d" %}
    {% case d %}
      {% when "1" or "21" or "31" %}{{ d }}<sup>st</sup>
      {% when "2" or "22" %}{{ d }}<sup>nd</sup>
      {% when "3" or "23" %}{{ d }}<sup>rd</sup>
      {% else %}{{ d }}<sup>th</sup>
    {% endcase %}
    {{ page.date | date: "%B %Y" }}
    </time>
    {% assign numTags = page.tags | size %}
    {% if numTags > 0 %}
    in
    {% for i in (1..numTags) %}{% assign index = i | minus: 1 %}{% if i > 1 %}, {% endif %}<a href="{{site.baseurl}}tag#{{page.tags[index]|slugify}}">{{page.tags[index]}}</a>{% endfor %}
    {% endif %}
  </div>
  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content | replace: '<!-- more -->', '<div id="more"></div>' }}
  </div>
</article>
<style>
div.entry img {
	cursor: zoom-in;
}
div.entry img.zoom {
	max-height: 100%;
	max-width: 100%;
	cursor: zoom-out;
}
</style>
